<app-default-login
primaryButtonText="Login Now"
secondaryButtonText="Sign up Now"
>



  <form [formGroup]="sinupForm">
    <app-primary-input
    formControlName="name"
    inputName="email"
    type="email"
    label="Email"
    placeholder="Enter your email">
    </app-primary-input>

    <app-primary-input
    formControlName="email"
    inputName="email"
    type="email"
    label="Email"
    placeholder="Enter your email">
    </app-primary-input>

    <app-primary-input
    formControlName="password"
    inputName="password"
    type="password"
    label="Password"
    placeholder="Enter your password"
    >
    </app-primary-input>
    </form>

</app-default-login>
